# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Exclude specific folders and project configs from the asset library download.
/lowpolyterrain_demo/ export-ignore
/.editorconfig export-ignore
/.gitignore export-ignore
/project.godot export-ignore
/ai-rules.md export-ignore
/.gitattributes export-ignore
