# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Exclude specific folders and project configs from the asset library download.
/lowpolyterrain_demo/ export-ignore
/.editorconfig export-ignore
/.gitignore export-ignore
/project.godot export-ignore
/ai-rules.md export-ignore
/.gitattributes export-ignore
/lowpolyterrain_demo.jpg export-ignore
/lowpolyterrain_demo.jpg.import export-ignore

# Exclude root documentation to avoid duplicates (the copies inside /addons/ remain!)
/README.md export-ignore
/LICENSE export-ignore
